.container {
  min-height: 100vh;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: white;
  border-radius: 10px;
}

.container button {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  background-color: rgb(255, 174, 81);
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 25px;
}

.container button:hover {
  cursor: pointer;
}
